@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
    --dk-gray-100: #F3F4F6;
    --dk-gray-200: #E5E7EB;
    --dk-gray-300: #D1D5DB;
    --dk-gray-400: #9CA3AF;
    --dk-gray-500: #6B7280;
    --dk-gray-600: #4B5563;
    --dk-gray-700: #374151;
    --dk-gray-800: #1F2937;
    --dk-gray-900: #111827;
    --dk-dark-bg: #313348;
    --dk-darker-bg: #2a2b3d;
    --navbar-bg-color: #6f6486;
    --sidebar-bg-color: #252636;
    --sidebar-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
/*    background: #ABD8E5;
*/    font-size: .925rem;
}

#wrapper {
    margin-left: var(--sidebar-width);
    transition: all .3s ease-in-out;
}

    #wrapper.fullwidth {
        margin-left: 0;
    }



/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
    background: linear-gradient(#0B96BE,#ABD8E5 );
    width: var(--sidebar-width);
    transition: all .3s ease-in-out;
    transform: translateX(0);
    z-index: 9999999
}

    .sidebar .close-aside {
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        color: #EEE;
    }

    .sidebar .sidebar-header {
        border-bottom: 1px solid #2a2b3c
    }

        .sidebar .sidebar-header h5 a {
            color: var(--dk-gray-300)
        }

        .sidebar .sidebar-header p {
            color: var(--dk-gray-400);
            font-size: .825rem;
        }

    .sidebar .search .form-control ~ i {
        color: #2b2f3a;
        right: 40px;
        top: 22px;
    }

    .sidebar > ul > li {
        padding: .7rem 1.75rem;
    }

    .sidebar ul > li > a {
        color: var(--dk-gray-400);
        text-decoration: none;
    }

        /* Start numbers */
        .sidebar ul > li > a > .num {
            line-height: 0;
            border-radius: 3px;
            font-size: 14px;
            padding: 0px 5px
        }

    .sidebar ul > li > i {
        font-size: 18px;
        margin-right: .7rem;
        color: var(--dk-gray-500);
    }

    .sidebar ul > li.has-dropdown > a:after {
        content: '\eb3a';
        font-family: unicons-line;
        font-size: 1rem;
        line-height: 1.8;
        float: right;
        color: var(--dk-gray-500);
        transition: all .3s ease-in-out;
    }

    .sidebar ul .opened > a:after {
        transform: rotate(-90deg);
    }

    /* Start dropdown menu */
    .sidebar ul .sidebar-dropdown {
        padding-top: 10px;
        padding-left: 30px;
        display: none;
    }

        .sidebar ul .sidebar-dropdown.active {
            display: block;
        }

        .sidebar ul .sidebar-dropdown > li > a {
            font-size: .85rem;
            padding: .5rem 0;
            display: block;
        }
/* End dropdown menu */

.show-sidebar {
    transform: translateX(-270px);
}

@media (max-width: 767px) {
    .sidebar ul > li {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar .search {
        padding: 10px 0 10px 30px
    }
}




/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
    color: var(--dk-gray-300);
}

    .welcome .content {
        background: linear-gradient(#0B96BE,#ABD8E5 );
    }

    .welcome p {
        color: var(--dk-gray-400);
    }




/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
    color: var(--dk-gray-200);
}

    .statistics .box {
        background-color: var(--dk-dark-bg);
    }

        .statistics .box i {
            width: 60px;
            height: 60px;
            line-height: 60px;
        }

        .statistics .box p {
            color: var(--dk-gray-400);
        }




/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
    background-color: var(--dk-dark-bg);
}

    .charts .chart-container h3 {
        color: var(--dk-gray-400)
    }




/** --------------------------------
 -- users
-------------------------------- */
.admins .box .admin {
    background-color: var(--dk-dark-bg);
}

.admins .box h3 {
    color: var(--dk-gray-300);
}

.admins .box p {
    color: var(--dk-gray-400)
}




/** --------------------------------
 -- statis
-------------------------------- */
.statis {
    color: var(--dk-gray-100);
}

    .statis .box {
        position: relative;
        overflow: hidden;
        border-radius: 3px;
    }

        .statis .box h3:after {
            content: "";
            height: 2px;
            width: 70%;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.12);
            display: block;
            margin-top: 10px;
        }

        .statis .box i {
            position: absolute;
            height: 70px;
            width: 70px;
            font-size: 22px;
            padding: 15px;
            top: -25px;
            left: -25px;
            background-color: rgba(255, 255, 255, 0.15);
            line-height: 60px;
            text-align: right;
            border-radius: 50%;
        }





.main-color {
    color: #ffc107
}

/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
    background: rgb(254,255,255);
    background: linear-gradient(86deg, rgba(254,255,255,1) 0%, rgba(117,192,226,1) 78%);
    border: none !important;
}

    .navbar .dropdown-menu {
        right: auto !important;
        left: 0 !important;
    }

    .navbar .navbar-nav > li > a {
        color: #EEE !important;
        line-height: 55px !important;
        padding: 0 10px !important;
    }

    .navbar .navbar-brand {
        color: #FFF !important
    }

    .navbar .navbar-nav > li > a:focus,
    .navbar .navbar-nav > li > a:hover {
        color: #EEE !important
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:focus,
    .navbar .navbar-nav > .open > a:hover {
        background-color: transparent !important;
        color: #FFF !important
    }

    .navbar .navbar-brand {
        line-height: 55px !important;
        padding: 0 !important
    }

        .navbar .navbar-brand:focus,
        .navbar .navbar-brand:hover {
            color: #FFF !important
        }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin: 0 !important
    }

@media (max-width: 767px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar .navbar-nav > li > a {
        padding-left: 0 !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border: none !important;
    }
}

.navbar .navbar-nav > li > a {
    float: left !important;
}

    .navbar .navbar-nav > li > a > span:not(.caret) {
        background-color: #e74c3c !important;
        border-radius: 50% !important;
        height: 25px !important;
        width: 25px !important;
        padding: 2px !important;
        font-size: 11px !important;
        position: relative !important;
        top: -10px !important;
        right: 5px !important
    }

.dropdown-menu > li > a {
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.navbar .navbar-nav > li > a > i {
    font-size: 18px !important;
}




/* Start media query */

@media (max-width: 767px) {
    #wrapper {
        margin: 0 !important
    }

    .statistics .box {
        margin-bottom: 25px !important;
    }

    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #CCC !important
    }

        .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #FFF !important
        }

    .navbar .navbar-toggle {
        border: none !important;
        color: #EEE !important;
        font-size: 18px !important;
    }

        .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
            background-color: transparent !important
        }
}


::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #B0C5CB;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

/*PEN STYLES*/

 

body-cards {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;



 
.blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;

    @media screen and (min-width: 480px) {
        width: 28rem;
    }

    @media screen and (min-width: 767px) {
        width: 40rem;
    }

    @media screen and (min-width: 959px) {
        width: 50rem;
    }
}

.blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
    &:hover

{
    border-color: #ff4d4d;
    color: #ff4d4d;
}

}

 
.blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
}

    .blog-author h3::before,
    .blog-author--no-cover h3::before {
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
        background-size: cover;
        border-radius: 50%;
        content: " ";
        display: inline-block;
        height: 32px;
        margin-right: .5rem;
        position: relative;
        top: 8px;
        width: 32px;
    }

    .blog-author h3 {
        color: #fff;
        font-weight: 100;
    }

    .blog-author--no-cover h3 {
        color: lighten(#333, 40%);
        font-weight: 100;
    }
 
.blog-body {
    margin: 0 auto;
    width: 80%;
}

.video-body {
    height: 100%;
    width: 100%;
}

.blog-title h1 a {
    color: #333;
    font-weight: 100;
}

.blog-summary p {
    color: lighten(#333, 10%);
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li + li {
    margin-left: .5rem;
}

.blog-tags a {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

 
.blog-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
}

.blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li:first-child {
    margin-right: auto;
}

.blog-footer li + li {
    margin-left: .5rem;
}

.blog-footer li {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    & a

{
    color: lighten(#333, 40%);
}

}

.comments {
    margin-right: 1rem;
}

.published-date {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    padding: 0 .5rem;
}

.numero {
    position: relative;
    top: -0.5rem;
}

 
.icon-star,
.icon-bubble {
    fill: lighten(#333, 40%);
    height: 24px;
    margin-right: .5rem;
    transition: .25s ease;
    width: 24px;
    &:hover

{
    fill: #ff4d4d;
}
}
